.my-footer {
    /*height: 5em;*/
    background-color: #163b65;
    color: #FFFFFF;
    font-size: 80%;
    margin-top: 1.5em;
    padding: 1em;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker-picker {
    z-index: 10000;
}